@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-x: hidden;
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-open-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-montserrat), sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
